<!-- add ingredients page -->
<div>
	<div class="background-image"></div>

	<nav class="navbar navbar-default navbar-fixed-top" style="z-index: 10">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/ingredientsView">楽天レシピおすすめ</a>
			</div>

			<form class="navbar-form" style="text-align: center !important;">
				<div class="form-group">
					<input ng-model="inputIngredient" id="ingredientInput" type="text" class="form-control" placeholder="材料">
				</div>
				<buttun ng-click="addIngredient()" class="btn btn-default">材料を入力</buttun>
			</form>

		</div>
	</nav>

	<div class="ingredientInputContainer slider closed row" id="ingredientInputContainer" style="z-index: 10">
		<div class="col-xs-2">
			<div class="pagination fade">
				<span id="menuLeft" class="glyphicon glyphicon-menu-left" ng-click="prevPage()"></span>
			</div>
		</div>

		<div class="col-xs-8">
			<div class="ingredientInputContainerInner">
				<div style="text-align: center">
					<span style="vertical-align: middle" ng-repeat="ingredient in ingredients" id="{{ingredient}}">
						<span ng-click="removeIngredient(ingredient)" class="glyphicon glyphicon-remove removeButton"></span> 
						<span class="ingredientList">{{ingredient}}</span>
					</span>
				</div>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="pagination fade" style="float: right;">
				<span id="menuLeft" class="glyphicon glyphicon-menu-right" ng-click="nextPage()"></span>
			</div>
		</div>
	</div>

	<div class="recipesContainer">
		<div ng-repeat="recipe in currentPage track by $index" class="row" style="z-index: 10">
			<div ng-class="recipe.hasItems ? 'col-md-5 col-md-offset-2' : 'col-md-8 col-md-offset-2 noItems'" class="recipe animate">
				<div class="recipeTitle">
					<a href="{{recipe.recipeUrl}}">{{recipe.recipeTitle}}</a>
				</div>
				<div class="row">
					<div class="col-xs-6"> <!-- recipeImage"> -->
						<img class="img-responsive img-rounded img-thumbnail" ng-src="{{recipe.foodImageUrl}}">
					</div>

					<div class="col-xs-6">
						<p>{{recipe.recipeDescription}}</p>
						<ul>
							<li ng-repeat="ingredient in recipe.recipeMaterial track by $index">{{ingredient}}</li>
						</ul>
					</div>
				</div>
				{{recipe.recipeCost}} {{recipe.recipeIndication}}
			</div>
			<div ng-show="recipe.hasItems"class="col-md-3 animateSlower osusumeContainer" style="padding-right: 0px">
				<div class="osusume">
					<h3>この材料はいかがでしょうか？</h3>
					<hr>

					<div class="row">
						<div ng-show="recipe.showArrows" class="col-xs-2 itemButtonContainer">
							<span class="glyphicon glyphicon-menu-left itemButton" ng-click="prevItem(recipe, $index)"></span>
						</div>
						<div class="col-xs-8" style="overflow: hidden;">
							<div id="osusume{{$index}}" style="text-align: center;">
								<div class="osusumeContent">
									<a href="{{recipe.currentItem.Item.itemUrl}}">{{recipe.currentItem.Item.itemName}}</a>
								</div>
								<div class="osusumeContent">
									<a href="{{recipe.currentItem.Item.itemUrl}}"><img class="img-responsive img-rounded img-thumbnail" ng-src="{{recipe.currentItem.Item.mediumImageUrls[0].imageUrl}}"></a>
								</div>
							</div>
						</div>
						<div ng-show="recipe.showArrows" class="col-xs-2 itemButtonContainer">
							<span class="glyphicon glyphicon-menu-right itemButton" style="float: right;" ng-click="nextItem(recipe, $index)"></span>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="row" id="noRecipesFound" style="display: none;">
			<div class="col-sm-8 col-sm-offset-2 recipe warning">
				<span ng-click="closeWarning()" class="glyphicon glyphicon-remove warningButton"></span>
				<h3><span class="glyphicon glyphicon-cog"></span>申し訳ございませんが</h3>
				<p>入力した材料と、レシピを探せませんでした。他の材料を入力してみてくださいませんか？</p>
			</div>
		</div>

		<div class="row" id="welcomeMessage">
			<div class="col-md-8 col-md-offset-2 recipe animate">
				<h3><span class="glyphicon glyphicon-grain"></span>材料を入力してください。</h3>
				<p>一つの材料を入力したら、「材料を入力」クリックするか、インターキーを押してください。</p>
			</div>
		</div>
	</div>
</div>